* {
  color: rgb(11, 67, 77);
  font-weight: 900;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.menu a {
  margin-left: 100px;
  text-decoration: none;
  padding: 6px;
}

.ideaboard {
  /* display: flex; */
  width: 700px;
  height: 450px;
  position: relative;
  background-color: #ffffff;
  align-items: center;
  margin: 30px auto;
  border-radius: 1rem;
    outline: #606a7c solid 2px;
  padding: 20px;
  text-align: center;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-flow: wrap-reverse;
  background-color: antiquewhite;
}

.createIdeaCard{
  width: 300px;
  position: relative;
  padding: 130px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.MuiCardHeader-title{
  font-weight: 900;
  color: antiquewhite;
}

.css-1qvr50w-MuiTypography-root{
  font-weight: 900;
}

.formLabels{
font-size: 20px;
color: rgb(236, 165, 99);
font-weight: lighter;
display: contents;
}
  
  


.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.h1 {
  color: rgb(119, 117, 235);
  display: flex;
  flex-direction: column;
  margin: auto;
  font-weight: 900;
}

.card h3 {
  color: rgb(241, 140, 140);
  font-family: sans-serif;
  font-weight: 400;
}

.card h5 {
  color: rgb(130, 128, 233);
  font-family: sans-serif;
}

.card-button{
  border-radius:  1em;
  color: azure;
  background-color:rgb(130, 128, 233);
  border: none;
  padding: 5px 20px;
  margin: -6rem auto 5%;
  
}

.card-button:hover{
  background-color: rgb(149, 130, 123);

}

.btn {
  position: relative;
  align-items: center;
  background-color: #749fe4;
  justify-content: center;
  border: 3px solid darkgray;
  color: #ffffff;
  border-radius: 2rem;
  padding: 5px 20px;
  margin: -6rem auto 5%;
}

.MuiButtonBase-root {
  top: -492px;
  left: 800px;
  color: #ffffff;

}

.invite{
  margin-top: 137px;
  margin-left: 472px;
}